aiohttp==3.5.4
asn1crypto==0.24.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.3.9
cffi==1.12.2
chardet==3.0.4
colorama==0.4.1
cryptography==2.6.1
future==0.17.1
idna==2.8
idna-ssl==1.1.0
importlib-metadata==0.23
more-itertools==7.2.0
multidict==4.5.2
packaging==19.2
pluggy==0.13.0
py==1.8.0
pycparser==2.19
pyparsing==2.4.2
pytest==5.2.1
pytest-ordering==0.6
pytest-repeat==0.8.0
python-telegram-bot==11.1.0
selenium==3.141.0
six==1.12.0
telepot==12.7
typing-extensions==3.7.2
urllib3==1.24.2
virtualenv==16.4.3
wcwidth==0.1.7
yarl==1.3.0
zipp==0.6.0
